.box {
  box-shadow: none;
  cursor: pointer;
  height: 170px;
  position: relative;
  width: 170px;
}

.box:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.box img {
  backface-visibility: hidden;
  display: block;
  opacity: 1;
  transition: .5s ease;
}

.box:hover .image {
  filter: brightness(70%);
}

.box:hover .middle {
  opacity: 1;
}

.box p {
  font-weight: 700;
  color: white;
  font-size: 12px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

header img {
  width: 250px;
}

.loading {
 display: flex;
 justify-content: center;
 margin: 200px 0;
}